$bgColor: #f7f7f7;
$mainColor: #FBC100;
$activeColor: #FEF3CC;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  min-width: 320px;
  width: 96%;
}

.header {
  background-color: $bgColor;
  padding: 8px 0;
  
  & .flag-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
